[submodule "bibliography"]
	path = bibliography
	url = https://github.com/pibook/bibliography.git
[submodule "extras"]
	path = extras
	url = https://github.com/pibook/extras.git
[submodule "_gallery"]
	path = _gallery
	url = https://github.com/pibook/_gallery.git
[submodule "images"]
	path = images
	url = https://github.com/pibook/images.git
[submodule "_quotes"]
	path = _quotes
	url = https://github.com/pibook/_quotes.git
[submodule "text"]
	path = text
	url = https://github.com/mibook/text.git
